# Copy this file to the Git repository and rename it ".gitignore".
# Lines starting with '#' are treated as comments.

############################################
## USER SCRIPTS AND NOTES
############################################

/*.bat
/\!*
.DS_Store
*.pdf

############################################
## LATEX TEMPORARY FILES
############################################

*.log
*.aux
*.bbl
*.blg
*.tex.undo
*.tex.bak
*.~te
*.$te
*.DVX
*.DDF
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
*.out
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind

*.dvi
*.ps

############################################
# do not upload secret infomation
myresume.tex
myresume.pdf
myresume-zh_CN.tex
myresume-zh_CN.pdf
